@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700');
@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Permanent+Marker&family=Trade+Winds&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    counter-reset: section;
}
.landing{
    position: relative;
    width: 100%;
    height: 550px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 52% 100%, 50% 96%, 48% 100%, 0 100%);
}
.cover{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.page_content{
    width: 70%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr;
}
.page_header{
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px 0;
    font-family: 'Megrim', cursive;
}
.logo span{
    font-family: 'Megrim', cursive;
    color: rgb(39, 226, 170);
}
.page_title{
    font-family: 'Trade Winds';
    margin-top: -100px;
    margin-bottom: 20px;
}
.container{
    width: 100%;
    box-shadow: inset 0px -10px 15px rgb(224, 224, 224);
    padding: 30px;
}
.part_container{
    width: 60%;
    margin: 30px auto;
}
.part {
    counter-reset: subsection;
    background: yellow;
    display: inline;
    padding: 3px 10px;
    border-radius: 20px;
}
.part::before{
    counter-increment: section;
    content: "Part "counter(section);
}
.part_name{
    margin: 10px 0;
}
.part_desc{
    margin: 10px 0;
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
}
.links{
    text-decoration: none;
}
li::before{
    counter-increment: subsection;
    content: counter(section)"."counter(subsection)" ";
}
.footer{
    background: rgb(27, 27, 27);
    width: 100%;
    padding: 50px 0;
}
footer{
    color: #fff;
    width: 80%;
    margin: auto;
    background: rgb(27, 27, 27);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.quick_links{
    grid-column: 1/2;
}
.quick_links h1{
    font-family: 'Megrim', cursive;
}
.quick_links span{
    font-family: 'Megrim', cursive;
    color: rgb(39, 226, 170);
}
.links{
    margin: 10px;
}
.links a{
    text-decoration: none;
    color: #fff;
}
.address_con{
    grid-column: 2/3;
}
.address a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.i{
    width: 40px;
    height: 40px;
    background: rgb(85, 82, 82);
    margin: 0 10px;
    border-radius: 50%;
}
.i i{
    font-size: 20px;
}
.company_con p{
    margin: 5px;
}
.social_links{
    margin: 10px;
    flex-direction: row;
}
.social_links a{
    padding: 2px 8px;    
    font-size: 25px;
    background: #fff;
    color: rgb(44, 43, 43);
    margin: 10px;
}
@media screen and (max-width : 500px){
    .landing{
        height: 450px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%, 50% 96%, 45% 100%, 0 100%);
    }
    .logo{
        left: 50%;
        transform: translate(-50%);
    }
    .page_title{
        font-size: 25px;
    }
    .part_container{
        width: 90%;
    }
    ul{
        grid-template-columns: 1fr 1fr;
        font-size: 17px;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .quick_links, .address_con{
        margin-bottom: 50px;
    }
}
@media screen and (min-width : 501px) and (max-width:800px){
    .part_container{
        width: 80%;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .quick_links, .address_con{
        margin-bottom: 50px;
    }
}