*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    counter-reset: section;
}
.landing{
    position: relative;
    width: 100vw;
    height: 550px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 52% 100%, 50% 96%, 48% 100%, 0 100%);
}
.cover{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.page_content{
    width: 80vw;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr;
}
.page_header{
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: grey;
}
.page_title{
    margin-top: -100px;
    margin-bottom: 20px;
}
.container{
    width: 100vw;
    box-shadow: inset 0px -10px 15px rgb(224, 224, 224);
    padding: 30px;
}
.part_container{
    width: 60vw;
    margin: 30px auto;
}
.part {
    counter-reset: subsection;
    background: yellow;
    display: inline;
    padding: 3px 10px;
    border-radius: 20px;
}
.part::before{
    counter-increment: section;
    content: "Part "counter(section);
}
.part_name{
    margin: 10px 0;
}
.part_desc{
    margin: 10px 0;
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
}
.links{
    text-decoration: none;
}
li::before{
    counter-increment: subsection;
    content: counter(section)"."counter(subsection)" ";
}

